# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
_version.py

# IDE
.vscode/

# Virtual environment
.venv/
# too many conflicts
uv.lock

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# Local data directories
*.pth
*.mds

#Heavy dir
checkpoints/
wandb/

# Local scratch/tmp
.scratch
tmp
.tmp*

# AI assistants
.claude/
.codex
CLAUDE.md

#slurm stuff
*.out
*.err
