# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
_version.py

# IDE
.vscode/

# Virtual environment
.venv/
.python-version

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# Local data directories
**/data
/DLBS/
/BrainIAC/

# Local scratch/tmp
.scratch
tmp
.tmp*

# AI assistants
.claude/
.codex

# uv (too many conflicts)
uv.lock
